# === Binários e Executáveis ===
simulador_cache
*.exe
*.out
*.app

# === Arquivos Objeto e Temporários de Compilação ===
*.o
*.obj

# === Debuggers ===
*.dSYM/
*.gdb_history

# === Editores de Código e IDEs ===
# Visual Studio Code
.vscode/
.history/

# CLion / JetBrains
.idea/
cmake-build-*/

# Arquivos temporários do Linux/macOS/Windows
.DS_Store
Thumbs.db
*~
*.swp

# === Logs ===
*.log

# === Arquivos especificos === 
trace_conv.txt
trace_linkedlist.txt
trace_pattern.txt
trace_streaming.txt
teste.txt